<p><b><%= current_user.email %></b></p>
<% if current_user.image.present? %>
  <%= image_tag current_user.image.photo.url(:thumb) %>
<% end %>

<h1> My Products</h1>

<%= paginate @products , param_name: 'product_page' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= render_title(product.title) %></td>
        <td><%= product.body %></td>
        <td><%= product.price %></td>

        <td>
          <% product.images.each do |image| %>
            <%= image_tag image.photo.url(:thumb) %>
          <% end %>
        </td>

        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>My Recent Reviews</h1>

<%= paginate @reviews, param_name: 'review_page' %>

<%= render @reviews %>
