<div class="col-md-12">
  <div class="table-responsive cart-div">
    <% if @products.present? %>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Details</th>
            <th>Qty.</th>
            <th>Unit Price</th>
            <th>Total Price</th>
            <th>Remove</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr id="product_<%= product.id %>" >
              <td><%= link_to render_title(product.title), product %></td>
              <td>1</td>
              <td>$<%= product.price %></td>
              <td>$<%= product.price %></td>
              <td>
                <%= submit_tag "Remove", data: { productid: product.id, product_price: product.price }, class: "btn btn-danger delete_from_cart" %>
              </td>
            </tr>
          <% end %>

          <tr class="cart-footer">
            <td colspan="2">
              <div class="cart-total ">
                <strong>
                  <div>
                    Total Billing Amout :
                    <span id="total-price">
                      <%= number_to_currency(cookies['total_price']) %>
                    </span>
                  </div>
                  <div>
                    After Discount :
                    <span id="discount-price">
                      <%= number_to_currency(cookies['discount_price']) %>
                    </span>
                  </div>
                </strong>
                <br>
                <small class="text-muted">All amount exclusive of any type of tax.</small>
                <hr>
              </div>
              <% unless cookies['coupen'] %>
                <%= form_for :discount_coupons, method: :post,  url: discount_coupons_valid_token_path, html: {id: 'discount_form' , remote: true} do |f| %>
                  <div class="row">
                    <div class="form-group col-lg-6">
                      <%= f.text_field :coupon_number, class: "form-control", placeholder: "Enter Coupon" %>
                      <small class="text-muted">(apply Coupon if you have any )</small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-lg-6">
                      <%= f.submit "Submit Coupon Code", class: "btn btn-warning" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <hr>
            </td>
            <td colspan="3">
              <h4>Terms &amp; Conditions</h4>
              <div>You must agree with the terms and conditions of sales to check out.</div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="checkout"> I Agree to the terms .
                </label>
              </div>
              <hr>
              <%= link_to "CONTINUE SHOPPING", products_path, class: "btn btn-info" %>
              <%= link_to "CHECKOUT", checkout_path, class: "btn btn-info", id: "checkout-cart" %>
            </td>
          </tr>
        </tbody>
      </table>
    <% else %>
      <h1>You don't have any product in the cart.</h1>
    <% end %>
  </div>
</div>
