<%= nested_form_for(@product, html: { multipart: true }) do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-lg-4">
      <%= f.label :title %>
      <%= f.text_field :title, required: true, maxlength: 40, size: 40, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-4">
      <%= f.label :body, "Description" %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-4">
      <%= f.label :price %>
      <%= f.text_field :price, required: true, type: "number", class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-4">
      <%= f.fields_for :images do |image_form| %>
        <%= image_form.file_field :photo, value: 'Upload Image', class: "form-control" %>
        <%= image_form.link_to_remove "Remove this image" %>
      <% end %>
      <%= f.link_to_add "Add a image", :images%>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-4">
      <%= f.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>
