<h1>Listing products</h1>

<h3><%= link_to 'Create new Product', new_product_path %></h3>

<%= paginate @products %>

<% @products.in_groups_of(4, false).each do |group| %>

  <div class="row top-buffer">
    <% group.each do |product| %>
      <div class="col-xs-6 col-md-3">
        <div class="view view-first">
          <%= product_image(product) %>
          <div class="mask">
            <h2> <%= render_title(product.title) %> </h2>
            <p> <%= render_short_description(product.body) %> </p>
            <%= link_to "Show details", product, class: "info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row top-buffer"></div>
<% end %>
