<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Body:</b>
  <%= @product.body %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<p>
  <% @product.images.each do |image| %>
    <%= image_tag image.photo(:thumb) %>
  <% end %>
</p>

<div id="reviews">
  <%= render @reviews %>
</div>

<%= render '/reviews/form', locals: { review: @review, product: @product } %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
