<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="span5">
      <h2><%= @product.title %></h2>
      <hr>
      <%= product_image(@product) %>
      <div class="cart">
        <h3>Price - <%= number_to_currency(@product.price) %>
          <%= submit_tag "Add to cart", data: { productid: @product.id, product_price: @product.price }, class: "btn btn-success", disabled: added_to_cart?(@product.id.to_s) %>
        </h3>
      </div>
    </div>
    <div class="span7">
      <div class="span7"><%= @product.body %></div>
    </div>
  </div>
</div>

<div>
  <% if @product.images.count > 1 %>
    <% @product.images[1..-1].each do |image| %>
      <%= image_tag image.photo(:thumb) %> |
    <% end %>
  <% end %>
</div>

<% if authorised_owner(@product.user_id) %>
  <%= link_to 'Edit', edit_product_path(@product),class: "btn btn-primary" %> |
  <%= link_to 'Destroy' , @product, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
<% else %>
  <span><%= link_to "More from this seller", user_path(@product.user) %> </span>
<% end %>

<% if @reviews.present? %>
  <hr>
  <h2>Reviews on this product</h2>
  <div id="reviews">
    <%= paginate @reviews %>
    <%= render @reviews %>
  </div>
  <% if user_signed_in? && (not authorised_owner(@product.user_id)) %>
    <%= render '/reviews/form', locals: { review: @review, product: @product } %>
  <% end %>
  <div id="update_review"></div>
<% end %>
