<div class="container">
  <div class="row">
    <div class="span5">
      <h2><%= @product.title %></h2>
      <hr>
      <%= product_image(@product) %>
      <div class="cart">
        <h4>Price - <%= number_to_currency(@product.price) %>
          <%= submit_tag "Add to cart", data: { productid: @product.id, product_price: @product.price }, class: "btn btn-success", disabled: added_to_cart?(@product.id.to_s) %>
        </h4>
      </div>
    </div>
    <div class="span7">
      <div class="span7"><%= @product.body %></div>
    </div>
  </div>
</div>

<hr>

<div>
  <% if @product.images.count > 1 %>
    <h3>More images</h3>
    <hr>
    <% @product.images[1..-1].each do |image| %>
      <%= link_to image.photo(:original), class: "more-images", rel: "more-images", data: { colorbox: true, colorbox_height: '800px', colorbox_width: '1300px', rel: true} do %>
        <%= image_tag image.photo(:thumb) %>
      <% end %>
    <% end %>
    <hr>
  <% end %>
</div>

<% if authorised_owner(@product.user_id) %>
  <%= link_to 'Edit', edit_product_path(@product),class: "btn btn-primary" %>
  <%= link_to 'Destroy' , @product, method: :delete, class: "btn btn-danger destroy-product", data: { confirm: 'Are you sure?' } %>
<% else %>
  <span><%= link_to "More from this seller", user_path(@product.user) %> </span>
<% end %>

<% if @reviews.present? %>
  <h3>Reviews on this product</h3>
<% end %>
<div id="reviews">
  <%= paginate @reviews %>
  <%= render @reviews %>
</div>

<hr>

<% if user_signed_in? && (not authorised_owner(@product.user_id)) %>
  <%= render '/reviews/form', locals: { review: @review, product: @product } %>
<% end %>
<div id="update_review"></div>
