<!DOCTYPE html>
<html>
<head>
  <title>VirtualShoppingMall</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
</div>

<div id="current_user">
  <% if user_signed_in? %>
    signed in as <%= current_user.email %>
   <b> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </b>
  <% else %>
   <b> <%= link_to "Sign in", new_user_session_path %> </b>
   <b> <%= link_to "Sign up", new_user_registration_path %> </b>
  <% end %>
</div>

<%= yield %>

</body>
</html>
